<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <div class="col-md-3">
      <div class="col-md-4">
        <%= link_to gravatar_for(current_user) %>
      </div>
      <div class="col-md-6">
        <%= current_user.name %>
        <br>
        <%= link_to "Edit profile", edit_user_path(current_user) %>
        <br>
        <%= link_to "View my profile", current_user %>
        <br>
        <%= pluralize(current_user.microposts.count, "micropost") %>
      </div>
      <div class="col-md-12">
        <%= render 'shared/micropost_form' %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="col-md-9">
        <h2>Micropost Feed</h2>
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>This app is for Twitter what Channel is for Chanel :)</h1>

    <h2>
      If you wanna get the SWAG, just sign up!
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-default" %>
  </div>
<% end %>