<% provide(:title, @user.name + ' information') %>
<div class="row">
  <div class="col-md-3">
    <div class="col-md-4">
      <%= gravatar_for @user, 80 %>
    </div>
    <div class="col-md-6">
      <%= @user.name %>
      <br/>
      <% if current_user?(@user) %>
        <%= link_to "Edit profile", edit_user_path(current_user) %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= render 'shared/follow_form' if signed_in? %>
    </div>
    <div class="col-md-12">
      <%= render 'shared/stats' %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="col-md-9">
      <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="list-group" id="micropost_history">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
    </div>
  </div>
</div>